body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px -2px grey,
  0 0 5px grey;
  background-image: url("../bg/bg-main.jpg");
  background-position: top center;
  /*background-image: url("../bg/sedona-index.jpg");*/
  /*background-position: top center;*/
  background-repeat: no-repeat;
  min-width: 1200px;
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 5px 0 15px 5px #dbdbdb,
  -5px 0 15px 5px #dbdbdb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-catalog {
  background-color: #f2f2f2;
  background-image: none;
  /*background-image: url("../sedona-hotels.jpg");*/
}

/* --------------- HEADER ---------------*/
.nav__items {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  font-weight: bold;
  line-height: 26px;
  list-style-type: none;
  margin: 0;
  height: 56px;
  /*TODO как правильно сделать нависание логотипа над картинкой, чтобы не ограничивать высоту хедера? если сделать абсолютное позиционирование, то другие пкнкты в центр сползут*/
  align-items: center;

  margin-bottom: 76px;
  /*text-align: center;*/
}

.nav__link {
  margin: 0;
  font: inherit;
  color: black;
  text-decoration: none;

}

.nav__link:hover,
.nav__link:focus {
  color: #81b3d2;
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);

}

.nav__item {
  padding: 0;
  margin: 16px 0 18px;
  width: 239px;
  text-align: center;
}

/*.nav__items li:nth-last-child(2){*/
/*padding: 0;*/
/*!*background-color: red;*!*/
/*margin: 16px 0 18px;*/
/*width: 164px;*/
/*text-align: right;*/
/*padding-right:75px;*/
/*}*/

/*.nav__items li:last-child{*/
/*padding: 0;*/
/*!*background-color: red;*!*/
/*margin: 16px 0 18px;*/
/*width: 169px;*/
/*text-align: right;*/
/*padding-right:70px;*/
/*}*/

.nav__logo {
  align-self: flex-start;
  padding: 0;
  margin: 0;
  width: 244px;
  text-align: center;
  margin-top: -1px;

}

/* --------------- END HEADER ---------------*/

/*-------------------- MAIN -----------------*/

/*---------WELCOME-------*/
.welcome {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  /*background-image: url("../bg/bg-mask.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: bottom center;*/

  /*margin-bottom: 59px;*/

}

.welcome img {
  margin-bottom: 74px;
}

.welcome:after {
  content: "";
  display: block;
  padding: 0;
  margin: 0;
  background-image: url("../bg/bg-mask.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;
  position: absolute;
  bottom: -2px;

}

/*-------END WELCOME-------*/

/*---------ABOUT-----------*/

.about {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  line-height: 26px;
  text-align: center;
}

/*.about::before {*/
/*content: "";*/
/*display: block;*/
/*padding: 0;*/
/*margin: 0 auto;*/
/*background-image: url("../bg/bg-mask.svg");*/
/*background-repeat: no-repeat;*/
/*position: absolute;*/
/*top: -56px;*/
/*width: 1200px;*/
/*height: 59px;*/
/*}*/

.about h1 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.about__text {

  padding: 0;
  padding-top: 59px;
  width: 492px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.about__text p {
  letter-spacing: 0.07px; /*буковки расползались не так как надо*/
  margin: 0;
  margin-bottom: 40px;
}

.about__features {
  margin: 0;
  padding: 0;
  height: 1098px;
  background: rgba(0, 255, 255, 0.3);
  /*margin-bottom: 48px;*/
}

/*-------END ABOUT-----------*/

/*-------HOTEL-SEARCH--------*/
.hotel-search {
  position: relative;
  background-color: white;
  color: black;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 50px;

}

.hotel-search__text {
  margin: 0 auto;
  padding: 0;

}

.hotel-search h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 24px;

}

.hotel-search__button {
  background-color: #766357;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  font-family: inherit;
  margin: 0;
  margin-top: 33px;
  /*padding: 0 138px;*/
  height: 86px;
  width: 568px;
  outline: none;

}

.hotel-search__button:hover,
.hotel-search__button:focus {
  background-color: #604e43;
}

.hotel-search__button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.interactive-map {
  padding: 0;
  margin: 0;
  min-height: 594px;
  background-image: url("../bg/bg-map.jpg");
}

.search-form {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  margin-left: 50%;
  left: -284px;
  padding: 55px;
  background-color: white;
  width: 568px;
  line-height: 26px;
  font-weight: bold;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}

.search-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.search-form p {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 29px;
  align-items: center;
}

.search-form label {
  margin: 0;
  padding: 0;
  display: block;

}

.persons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.search-form input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-left: 12px;
  background-color: #f2f2f2;
  border: 0;
  color: black;
  font: inherit;
  line-height: 26px;
  text-transform: inherit;
  height: 38px;
  width: 346px;
  outline: none;
}

.persons__amount {
  display: flex;
  width: 114px;
  margin: 0;
  align-items: center;

}

.persons__amount button {

  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  padding: 0;

}

.search-form__minus,
.search-form__plus {
  outline: none;
}

.search-form__minus svg,
.search-form__plus svg {
  fill: #a9a9a9;

}

.search-form__minus:hover svg,
.search-form__plus:hover svg,
.search-form__minus:focus svg,
.search-form__plus:focus svg {
  fill: black;
}

.search-form__minus:active svg,
.search-form__plus:active svg {
  fill: #81b3d2;
}

.persons__amount input {
  width: 38px;
  height: 38px;
  border: none;
  padding: 0;
  text-align: center;
}

.persons__kids {
  display: block;
  position: relative;
  left: 15px;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: white;
  border: 2px solid #ebebeb;
}

.search-button {
  background-color: #81b3d2;
  color: white;
  font: inherit;
  line-height: 26px;
  text-transform: inherit;
  border: 0;
  font-size: 21px;
  width: 100%;
  height: 58px;
  margin-top: 54px;
  outline: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*-----END HOTEL-SEARCH--------*/

/*-------------------- END MAIN -----------------*/

/* --------------------FOOTER -------------------*/

.footer {
  padding: 36px 0;
  margin: 0;
  position: relative;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  margin: 0;

}

.social {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 30px;
  padding: 0;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  /*margin-left: 256px;*/
}

.hashtag {
  display: block;
  position: relative;
  left: 10px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  /*margin-left: 132px;*/

}

.social__button {
  display: flex;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.social__button:hover,
.social__button:focus {
  background-color: #669ec0;
}

.social__button:active {
  background-color: #5496bd;
}

.social__button:active svg {
  opacity: 0.3;
}

.social li {
  list-style-type: none;
}

.copyright {
  display: flex;
  align-items: center;
  position: relative;
  left: 18px;

  padding: 0;
  margin: 0;
  /*margin-left: 229px;*/
}

.copyright span {
  display: block;
  margin-right: 9px;
}

.copyright a {
  display: block;
  vertical-align: center;
}

.copyright svg {
  width: 115px;
  height: 41px;
  fill: #231f20;
  margin-top: 2px;
}

.copyright:hover svg,
.copyright:focus svg {
  fill: #81b3d2;
}

.copyright:active svg {
  fill: #bdbbbc;
}

/* -----------------END FOOTER ------------------*/

/*---------------------- CATALOG----------------------------------------*/

a.hotel-name {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  font-family: inherit;
}

a.hotel-name:hover,
a.hotel-name:focus {
  color: #81b3d2;
}

a.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__link--active {
  color: #766357;
}

.button-details {
  background-color: #81b3d2;
  color: white;
  font: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin: 0;
  display: block;
  width: 110px;
  border: none;
  padding: 3px 0;
  margin-right: 6px;

}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  margin: 0;
  width: 142px;
  background-color: #766357;
  color: white;
  font: inherit;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  padding: 3px 0;

}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-calendar {
  width: 21px;
  height: 22px;
  position: absolute;
  right: 9px;
  top: 9px;
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.button-calendar svg {
  margin: 0;
  fill: #cacaca;

}

.button-calendar:hover svg,
.button-calendar:focus svg {
  fill: black;

}

.button-calendar:active svg {
  fill: #81b3d2;

}

.hotels__items {
  margin: 0;
  padding: 0;
}

.hotels__item {
  display: flex;
  list-style-type: none;

  border-bottom: 1px solid #e5e5e5;
  justify-content: left;
  /*align-items: flex-start;*/
  padding: 30px 73px;
  margin: 0;
  background-color: white;

}

.hotel-booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.hotel-booking p {
  margin: 0;
  margin-bottom: 6px;
}

.hotel-booking h2 {
  margin: 0;
  padding: 0;
}

.hotel-booking__buttons {
  display: flex;
}

.hotel-name {
  display: block;
  padding: 0;
  margin: 0;

}

.hotel-link {
  margin: 0;
  padding: 0;
  display: block;

}

.hotel-logo {
  display: block;
  margin: 0;
}

.hotel-category {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  min-width: 111px;
}

.hotel-price {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.rating {

  margin: 0;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.hotel-name {
  margin: 0;
  padding: 0;
  margin-top: -6px;
}

.rating__stars {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.rating__star {
  margin-left: 6px;
}

.rating__value {
  display: block;
  background-color: #f2f2f2;
  width: 110px;
  padding: 3px 0;
  text-align: center;
  margin: 0;
}

.footer-catalog {
  margin-top: 0;
}

/*----------------- FILTER --------------------------*/

.filter {

  margin: 0;
  margin-top: -75px;

  /*height: 304px;*/
  background: #99a1a7 url("../bg/bg-catalog.jpg") no-repeat;
  color: white;
  padding: 30px 74px;
}

.filter__form {
  margin: 0;
  padding: 0;
  display: flex;
}

.filter__form label {
  cursor: pointer;
}

.filter fieldset {
  /*margin: 0;*/
  padding: 0;
  border: none;
}

/*-----------END FILTER -------------*/

.sorting {
  background-color: white;
  display: flex;
  padding: 25px 73px 32px 71px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
}

.sorting__found {
  font-size: 21px;
  font-weight: bold;

}

.sorting__title {
  margin-left: 49px;
  font-weight: bold;
}

.sorting__type {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 6px;
}

.sorting__type li {
  margin-left: 34px;
}

.sorting__arrows {
  position: relative;
  margin-left: auto;
  width: 34px;
  height: 10px;

}

.sorting__arrows:before {
  content: "";
  border: 10px solid #cacaca;
  border-top-width: 0;
  border-left-width:6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.sorting__arrows:after {
  content: "";
  border: 10px solid #81b3d2;
  border-bottom-width: 0;
  border-left-width:6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.infrastructure {
  margin: 0;
  padding: 0;
  width: 181px;
}

.filter legend {
  font: inherit;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;

}

.housing {
  width: 181px;
  margin: 0;
  padding: 0;
  margin-left: 74px;
}

.controls {
  width: 314px;
  margin-left: auto;
}

.filter__item {
  position: relative;
  display: block;
  margin-bottom: 23px;
}

.filter__item input {
  opacity: 0;
}

.filter__item span {
  /*display: block;*/
  position: absolute;
  left: 40px;
  top: 0;
}

.controls__price {
  position: relative;
  width: 314px;
  border: 2px solid white;
  border-radius: 2px;
  height: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

}

.controls__price label {
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  padding-left: 65px;
  cursor: pointer;
}

.controls__price input {
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  margin-left: 3px;
}


.controls__range {
  position: relative;
  width: 317px;
  margin-bottom: 54px;
}

.controls__price::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;

  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scale {
  width: 317px;
  height: 2px;
  background-color: rgba(255,255,255, 0.3);
  margin: 0;
  padding: 0;

  position: absolute;
  /*z-index: 1;*/
}

.bar {
  width: 80%;
  height: 2px;
  background-color: white;
  /*z-index: 2;*/

}

.toggle {
  width: 2px;
  height: 2px;
  background-color: #b1b1b1;
  border: 8px solid white;
  border-radius: 50%;
  /*z-index: 3;*/

}

.toggle-min {
  position: absolute;
  top: -8px;
  left: 0;

}

.toggle-max {
  position: absolute;
  top: -8px;
  left: 80%;
}



.filter__button {
  display: block;
  background: none;
  border: 2px solid white;
  border-radius: 2px;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 10px 36px;
  margin: 0 auto;
  margin-top: 24px;
  cursor: pointer;
}

input[type="checkbox"] + div {
  width: 27px;
  height: 23px;
  background: url("../bg/sprite-checkbox.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;

}

input[type="checkbox"]:checked + div {
  background-position: -27px 0;
}
